@import url('https://fonts.googleapis.com/css?family=Exo|Hind+Madurai|Montserrat|Roboto&display=swap');

.e-creation-div {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.e-header {
    font-style: normal;
    color: #333333;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    font-family: 'Hind Madurai', sans-serif;
}

.e-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;
}

.e-label {
    font-size: 12px;
    line-height: 17px;
    font-weight: 600;
    color: #7D7D7D;
    font-family: 'Hind Madurai', sans-serif;
}

.e-label-name {
    color: #333333;
}

.e-label-video-div {
    display: flex;
    justify-content: start;
}

.videoIcon {
    margin-left: 10px;
}

.e-input {
    border: 0.5px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 1%;
    padding-top: 3px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2%;
    color: #333333;
    font-family: 'Hind Madurai', sans-serif;
}

.e-input-name {
    font-size: 16px;
}

.e-input::placeholder {
    color: #BEBEBE;
    font-weight: 100;
}

.e-input-focal {
    height: 50px;
}

.e-button-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.e-button-cancel {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    font-family: 'Hind Madurai', sans-serif;
}

.e-button-save {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #FD6A02;
    margin-left: 5%;
    font-family: 'Hind Madurai', sans-serif;
    padding-bottom: 4px;
}

.e-asterisk {
    color: red;
}

@media (min-width: 1024px) {
    .e-creation-div {
        padding-top: 5%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .e-header {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #333333;
        font-family: 'Hind Madurai', sans-serif;
        margin-bottom: 3%;
    }
    

    .e-label {
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
        color: #7D7D7D;
        font-family: 'Hind Madurai', sans-serif;
    }

    .e-input {
        border: 1px solid #BEBEBE;
        box-sizing: border-box;
        background: #FFFFFF;
        border-radius: 5px;
        padding-left: 1.25%; 
        padding-right: 1.25%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 30px;
        color: #333333;
        font-family: 'Hind Madurai', sans-serif;
    }

    .e-input-focal {
        height: 120px;
    }

    .e-input::placeholder {
        font-weight: 500;
    }

    .e-button-div {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .e-button-cancel {
        background: #FFFFFF;
        border: 1px solid #FD6A02;
        box-sizing: border-box;
        border-radius: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FD6A02;
        font-family: 'Hind Madurai', sans-serif;
        width: 48%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    
    .e-button-save {
        background: #FD6A02;
        border-radius: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        font-family: 'Hind Madurai', sans-serif;
        text-decoration-line: none;
        width: 48%;
    }
}