.lib-disp-title {
  display:flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  border-bottom: 1px solid grey;
  font-size: 30px;
}

.lib-disp-title-ct {
  margin:10px;
}

.lib-disp-title-wa {
  color:lightgrey;
}

.lib-disp-btn {
  border:1px solid orange;
  background-color:orange;
  color:white;
  border-radius:5px;
  width:200px;
  height:25px;
  margin-top:20px;
}


.exer-card {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* border: 1px solid grey; */
}

.exer-card-hide-mobile {
  height:50px;
  width:50px;
}


/* .exer-card-action {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  border: 1px solid grey;
} */


.exer-search-div {
  border: 1px solid grey;
  display:flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
}

.vertical-dots {
  display: none;
}

.horizontal-dots {
  display: block;
}

@media (max-width: 1023px) {
  .exer-card-action {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  
  .exer-card-action-dot {
    border: 1px solid black;
    background-color: black;
    height:5px;
    width:5px;
    margin:5px;
    padding:0;
    border-radius: 2px;
  }

  .exer-card-hide-mobile {
    display: none;
  }

  .exer-card {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid grey;
  }

  .vertical-dots {
    display: block;
  }
  
  .horizontal-dots {
    display: none;
  }


}