@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-body;
  @apply text-mine-shaft;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #d4d4d4;
}

.separator::before {
  margin-right: 0.25em;
}

.separator::after {
  margin-left: 0.25em;
}
