@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.outer-program {
    width: 375px;
    height: 603px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0px 25px 16px;
    line-height: 28px;
}

.add-program-button {
    margin: 0 16px;
    background: #666666;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    height: 37px;
}

.search-div {
    margin: 15px 16px;
    border-bottom: 1px solid black;
    display: flex;
    height: 26px;
    .magnifying-icon {
        width: 20px;
        height: 20px;
    }
    .search-bar {
        width: 323px;
    }
}

.program-list-div {
    margin: 11px 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    .program-element:nth-of-type(2n) {
        background-color: rgba(196, 196, 196, 0.7);;
    }
    .program-list-header {
        background: #C4C4C4;
        border-radius: 5px 5px 0px 0px;
        width: 100%;
        height: 50px;
        display: flex;
        .header-title {
            margin: 17px 0 12px 41px;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 21px;
            font-weight: bold;
        }
        .header-active {
            margin: 17px 0 12px 115px;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 21px;
            font-weight: bold;
        }
    }
    .program-list-footer {
        width: 100%;
        height: 50px;
        background-color: lightgray;
    }
}

.program-element {
    width: 100%;
    height: 50px;
    display: flex;
    background: white;
    .checkbox-div {
        height: 100%;
        width: 34px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
            height: 14px;
            width: 14px;
        }
    }
    .title-div {
        height: 100%;
        width: 177px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            margin-left: 7px;
        }
    }
    .active-div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        p {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }
    }
    .assign-div {
        height: 100%;
        width: 82px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 22px;
            height: 16px;
        }
    }
    .options-div {
        height: 100%;
        width: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 20px;
            width: 5px;
        }
    }
}



.program-modal {
    width: 343px;
    height: 487px;
    margin: 100px auto;
    background-color: white;
    h3 {
        padding-top: 16px;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        margin: 16px 15px;
        font-weight: bold;
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        margin: 16px 15px;
    }
    input {
        margin: 0 15px;
        width: 313px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        border-bottom: 1px solid gray;
    }
    .program-button-div {
        display: flex;
        .cancel-button {
            margin-top: 115px;
            margin-left: 100px;
            margin-bottom: 12px;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
        }
        .create-button {
            margin: 98px 15px 0px 30px;
            width: 143px;
            height: 50px;
            background: #C4C4C4;
            border-radius: 5px;
            color: white;
        }
    }
    .legend-p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 10px 15px;
    }
    
}

.program-overaly {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.600);
}